.main {
  position: relative;
  background-color: rgb(235, 232, 244);
  min-height: 100vh;
  padding: 10px 10px 0 10px;

  .panel {
    position: fixed;
  }

  .cont {
    padding-right: 15px;
    padding-bottom: 15px;
    transition: margin-left ease-in-out 1s;
  }
}
