.main {
  background-color: white;
  padding: 20px;
  border-radius: 25px;

  .no-data {
    margin-top: 40px;
  }

  table {
    width: 100%;
    margin-top: 25px;

    th, td {
      width: calc(16.7% - 31px);
      text-align: center;
    }

    .last-item {
      width: 180px;

      .actions {
        width: 180px;
        gap: 2px;
        display: flex;
        justify-content: space-between;

        div {
          flex: 1;
        }
      }
    }
  }
}

.preview-invoice {
  transform: scale(0.55);
  margin-top: -280px;
  margin-left: -225px;
  overflow: hidden !important;
  width: 1005px;
}

::ng-deep {
  .p-dialog-content {
    overflow: hidden !important;
  }
}
