<div class="main">
  <p-button
    label="ახალი ინვოისი"
    icon="pi pi-plus"
    [style]="{ width: '100%' }"
    (click)="addInvoice()"
  />

  @if (!data || data?.length == 0) {
  <div class="no-data">
    <h3>ჩანაწერი არ მოიძებნა</h3>
  </div>
  } @else {
  <table>
    <tr>
      <th>ინვოისი</th>
      <th>შექმნის თრღ.</th>
      <th>ვალიდური</th>
      <th>თანხა</th>
      <th>დეპოზიტი</th>
      <th>სტატუსი</th>
      <th class="last-item"></th>
    </tr>
    @for(item of data; track item.id) {
    <tr>
      <td>{{ item.key }}</td>
      <td>{{ item.issueDate | date }}</td>
      <td>{{ item.dueDate | date }}</td>
      <td>{{ item.totalAmount }}₾</td>
      <td>{{ item.depositAmount }}₾</td>
      <td>{{ convertStatus(item.status) }}</td>
      <td class="last-item">
        <div class="actions">
          <div>
            @if (item.status == 0) {
            <p-button
              icon="pi pi-send"
              (click)="sendInvoice(item.id)"
              severity="success"
              tooltipPosition="bottom"
              pTooltip="გაგზავნა"
            />
            }
          </div>
          <div>
            <p-button
              icon="pi pi-eye"
              tooltipPosition="bottom"
              pTooltip="ნახვა"
              (click)="viewInvoice(item)"
            />
          </div>
          <div>
            @if (item.status == 0) {
            <p-button
              icon="pi pi-pencil"
              (click)="editInvoice(item.id)"
              severity="info"
              tooltipPosition="bottom"
              pTooltip="რედაქტირება"
            ></p-button>
            }
          </div>
          <div>
            @if (item.status == 0) {
            <p-button
              icon="pi pi-trash"
              (click)="deleteInvoice(item.id)"
              severity="danger"
              tooltipPosition="bottom"
              pTooltip="წაშლა"
            />
            }
          </div>
        </div>
      </td>
    </tr>
    <div style="height: 5px"></div>
    }
  </table>
  }
</div>

<p-confirmdialog />

<p-dialog header="ინვოისის ნახვა" [modal]="true" [(visible)]="visible" [style]="{ width: '600px' }">
  <div class="preview-invoice">
    <app-view-invoice
      [data]="previewData"
    ></app-view-invoice>
</div>
</p-dialog>
