<div class="main" [style.left]="!showPanel() ? '-215px' : '0'">
  <header>
    <h1>Innvoicer</h1>
    @if (showPanel()) {
    <i class="pi pi-angle-double-left" (click)="showHidePanel()"></i>
    } @else {
    <i class="pi pi-angle-double-right" (click)="showHidePanel()"></i>
    }
  </header>

  <div class="menu-items">
    <a routerLink="/invoices" routerLinkActive="router-link-active">
      <i class="pi pi-file-edit"></i>
      <p>ინვოისები</p>
    </a>

    <!-- <a routerLink="/services" routerLinkActive="router-link-active">
      <i class="pi pi-list"></i>
      <p>სერვისები</p>
    </a> -->

    <a routerLink="/companies" routerLinkActive="router-link-active">
      <i class="pi pi-building"></i>
      <p>კომპანიები</p>
    </a>

    <a routerLink="/profile" routerLinkActive="router-link-active">
      <i class="pi pi-user"></i>
      <p>პროფილი</p>
    </a>
  </div>
</div>
