<div class="actions">
  @if (breadcrumbConfig) {
    <div class="breadcrumb">
      <i [ngClass]="breadcrumbConfig.icon" class="main-icon"></i>
      <p
        (click)="navigateToParent()"
        [class.is-parent]="breadcrumbConfig.labelRoute"
      >{{ breadcrumbConfig.label }}</p>
      @if (breadcrumbConfig.labelRoute) {
        <i class="pi pi-angle-right secondary-icon"></i>
        <p>{{ breadcrumbConfig.childLabel }}</p>
      }
    </div>
  } @else {
    <div></div>
  }

  @if (isInvoicesPage)
  {
    <p-select [options]="comp" optionLabel="name" [(ngModel)]="selectedComp" (onChange)="changeSelect()" placeholder="აირჩიეთ სასტუმრო" [style]="{width: '350px'}"/>
  }
  <p-button label="გასვლა" variant="outlined" icon="pi pi-power-off" (click)="logOut()"/>
</div>
