<form class="cont" [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div class="main">
        <h1>ინვოისი</h1>

        <div class="info" formGroupName="client">
            <h3>სტუმრის ინფორმაცია</h3>
            <div class="additional-info">
                <div>
                    <label for="name">სახელი გვარი</label>
                    <label for="personalId">პირადი ნომერი</label>
                </div>
                <div>
                    <input type="text" pInputText id="name" formControlName="name"/>
                    <input type="text" pInputText id="personalId" formControlName="personalId"/>
                </div>
                <div>
                    <label for="phone">ტელეფონი</label>
                    <label for="email">მეილი</label>
                </div>
                <div>
                    <input type="text" pInputText id="phone" formControlName="phone"/>
                    <input type="email" pInputText id="email" formControlName="email"/>
                </div>
            </div>
        </div>

      <div class="info">
          <h3>ინვოისის დეტალები</h3>
          <div class="additional-info">
              <div>
                  <label for="issueDate">შექმნის თარიღი</label>
                  <label for="dueDate">ვალიდურია</label>
              </div>
              <div>
                  <p-datepicker id="issueDate" formControlName="issueDate" [showIcon]="true" inputId="icondisplay" [style]="{width: '100%'}"/>
                  <p-datepicker id="dueDate" formControlName="dueDate" [showIcon]="true" inputId="icondisplay" [style]="{width: '100%'}"/>
              </div>
              <div>
                  <label for="totalAmount">ჯამური თანხა</label>
                  <label for="depositAmount">წინასწარ გადასახდელი</label>
              </div>
              <div>
                  <input type="number" pInputText id="totalAmount" formControlName="totalAmount" placeholder="შეივსება ავტომატურად"/>
                  <input type="number" pInputText id="depositAmount" formControlName="depositAmount"/>
              </div>
          </div>
      </div>

      <div class="services" formArrayName="items">
        <p-button
          label="სერვისის დამატება"
          icon="pi pi-plus"
          [style]="{'width': '100%'}"
          (click)="addItem()"
        />


          <div class="headers">
            <label style="flex: 2">დასახელება</label>
            <label>ფასი</label>
            <label>რაოდენობა</label>
            <label style="flex: 2">Check-In</label>
            <label style="flex: 2">Check-Out</label>
            <div style="width: 44px;"></div>
          </div>

          <div class="headers"  *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
            <div style="flex: 2">
              <input type="text" pInputText formControlName="name" [style]="{width: '100%', 'min-width': '50px'}"/>
            </div>
            <div style="flex: 1">
              <input type="number" pInputText formControlName="unitPrice" [style]="{width: '100%', 'min-width': '50px'}" (input)="processTotal()"/>
            </div>
            <div style="flex: 1">
              <input type="number" pInputText formControlName="quantity" [style]="{width: '100%', 'min-width': '50px'}"  (input)="processTotal()"/>
            </div>
            <p-datepicker formControlName="checkInDate" class="tst"/>
            <p-datepicker formControlName="checkOutDate" class="tst"/>
            <div>
              <p-button icon="pi pi-trash" (click)="removeItem(i)" [style]="{height: '47px'}" tooltipPosition="bottom" pTooltip="წაშლა"/>
            </div>
          </div>

        </div>
      </div>

    <div class="preview">
        <h3>გადახედვა</h3>
        <div class="invoice">
            <div class="header">
                <div class="left">
                    <h2>ინვოისი</h2>

                    <p>სასტუმრო მგზავრები</p>
                    <p>ბაკურიანი მაგარი ქუჩა N2</p>
                    <p>ტელ: +995 555 123 456</p>
                </div>
                <img src="https://img.freepik.com/premium-vector/hotel-logo-icon-vector-hotel-logo-silhouette-building-vector-illustration_1199258-5038.jpg">
            </div>

            <div class="info">
                <h2>სტუმარი</h2>
                <p>სახელი: {{ invoiceForm.value.client?.name}}</p>
                <p>ტელ:</p>
                <p>ელ-ფოსტა:</p>
            </div>
        </div>

        <p-button
            label="შემოწმება"
            icon="pi pi-eye"
            severity="info"
            [style]="{'width': '250px', position: 'absolute', bottom: '80px', left: '20px'}"
        />

        <p-button
            label="შენახვა"
            icon="pi pi-save"
            type="submit"
            [disabled]="!invoiceForm.valid"
            [style]="{'width': '250px', position: 'absolute', bottom: '22px', left: '20px'}"
        />
    </div>
  </form>
